@media only screen and (max-width:1000px)
{
  section.int
  {
    &{}

    .inner-wrap.flex{display:block;}

    .col-main{width:100%;}
    .col-supp
    {
      &{width:90%;}
      .subhead{font-size:32px;}
      #jobs
      {
        &{}
        li{font-size:30px;margin-bottom:20px;}
        .job .location{font-size:20px;}
        .email{font-size:15px;}
      }
    }

    .channel-box
    {
      
      .info-box
      {
        &{font-size:13px;line-height:48px;display:block;margin-bottom:50px;margin-top:30px;}
        .label{width:100%;margin-bottom:10px;}
      }
    }

    .section-head{display:block;top:-150px;}
  }
}